/*FONTS*/
@font-face {
    font-family: 'Playfair-Display-Bold';
    src:  url('../font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src:  url('../font/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src:  url('../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
/*END FONTS*/
div.br{
    position: relative;
}
div.portrait_b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
}
div.portrait_b h1{
    font-size: 495%;
    /*line-height: 84px;*/
    color: #b17b57;
    font-weight: 700;
    margin-left: 20%;
    margin-top: -20%;
    font-family: "Playfair-Display-Bold", sans-serif;
}
div.portrait_b img{
    width: 50%;
    z-index: -1;
}
/*div.portrait_b:after{
    content: '';
    background-color: white;
    width: 100%;
    position: absolute;
    !* z-index: 0; *!
    bottom: 0;
    height: 42px;

}*/
/*.bk_music{
    position: relative;
}*/
.notesLine{
    width: 120%;
    height: 100%;
    position: absolute;
    right: -33px;
    bottom: 270px;
    z-index: -1;
}
.text_b{
    display: flex;
    justify-content: flex-end;
    width: 1400px;
    margin: 0 auto;
}
.text_b p {
    max-width: 50%;
    margin-right: 115px;
    text-align: justify;
    font-size:113%;
    /*line-height: 28px;*/
    color: #000;
    font-weight: 400;
    font-family: "OpenSans-Regular";
     /*margin-top: 400px;*/
     margin-top: 820px;
    /*margin-top: 560px;*/
}
p span.bold_text_bio{
    font-weight: 700;
    font-family: "OpenSans-Bold";
}
/*div.br:after{
    content: '';
    top: 200px;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/bknotes.png') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/
.bk_music{
    /* margin-top: -450px; */
    margin-top: -675px;
    background-image: url('../img/bkbio.svg') ;
    background-repeat: no-repeat;
    background-size: 120% ;
    background-position: 87% 0px;
}
/*.text_b{
    background-image: url('../img/bkbio.png');
    background-size: 100%;
}*/
.diploma{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* margin-left: 230px;
    margin-right: 230px; */
    /* width: 1400px; */
    margin: 0 auto;
    margin-top: 110px;
    padding-bottom: 70px;
    flex-wrap: wrap;
}
.diploma .img_t{
    display: flex;
    flex-direction: column;
}
.diploma > *{
    margin-right: 22px;
    margin-bottom: 22px;
}
.img_t img:first-child{
    margin-bottom: 22px;
}

