/*// X-Small devices (portrait phones, less than 576px)*/
/*!*@media (max-width: 575.98px) { ... }*! *//*НЕ БОЛЬШЕ 575 >*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/ /* НЕ МЕНЬШЕ 576 >*/

/*// Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/

/*// Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/*// X-Large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/


/*// X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { ... }*/

/*// XX-Large devices (larger desktops, 1400px and up)*/
/*@media (min-width: 1400px) { ... }*/

/*// Small devices (landscape phones, 576px and up)*/


/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
div.portrait_b{
    width: 100%;
}
.text_b{
    width: 100%;
    justify-content: center;
    
}
div.portrait_b h1{
    margin-left: 125px;
    font-size: 450%;
    margin-top: -225px;
}
.bk_music {
    margin-top: -365px;
}
div.portrait_b img {
    width: 45%;
    z-index: -1;
}
.diploma{
    margin-top: -1%;
    padding-top: 75px;
    background-color: #e9a484;
}
.text_b p {
    max-width: 100%;
    margin-right: 0;
    padding: 0 5%;
    font-size: 175%;
    background-color: #e9a484;
    margin-top: 550px;
    
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
div.portrait_b{
    width: 100%;
}
.text_b{
    width: 100%;
    justify-content: center;
    
}
div.portrait_b h1{
    margin-left: 125px;
    font-size: 450%;
    margin-top: -225px;
}
.bk_music {
    margin-top: -365px;
}
div.portrait_b img {
    width: 45%;
    z-index: -1;
}
.diploma{
    margin-top: -1%;
    padding-top: 75px;
    background-color: #e9a484;
}
.text_b p {
    max-width: 100%;
    margin-right: 0;
    padding: 0 5%;
    font-size: 175%;
    background-color: #e9a484;
    margin-top: 550px;
    
}

}

@media (min-width: 992px) and (max-width: 1199.98px)  { 
    div.portrait_b{
        width: 100%;
    }
    .text_b{
        width: 100%;
    }
    div.portrait_b h1{
        margin-left: 125px;
        margin-top: -225px;
        font-size: 425%;
    }
    .bk_music {
        margin-top: -400px;
    }
    .text_b p {
        margin-top: 475px;
    }
    .diploma{
        background-color: #e9a484;
        margin-top: 60px;
    }

}
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .bk_music {
        margin-top: -515px;
    }
    div.portrait_b h1 {

        margin-left: 10%;
        margin-top: -25%;
    }
    .text_b p {
        font-size: 130%;
        margin-top: 550px;
    }
    div.portrait_b{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .text_b{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 0 auto;
    }
    .diploma{
        background-color: #e9a484;
    }
}
@media (min-width: 1400px) {
    div.portrait_b h1 {

        margin-left: 15%;
        margin-top: -35%;
    }
    .text_b p {
        font-size: 130%;
        margin-top: 25%;
        padding-top: 35%;
    }
    .diploma{
        background-color: #e9a484;
    }
}
@media (min-width: 1950px){
    .bk_music {
        /* margin-top: -450px; */
        margin-top: -935px;
    }
    div.portrait_b img {
        width: 100%;
        z-index: -1;
    }
    .text_b p {
       
        margin-top: 35%;
    
    }
    }