/*FONTS */
@font-face {
    font-family: 'Playfair-Display-Heavy';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-ExtraBold';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;

}
@font-face {
    font-family: 'Playfair-Display-Bold';
    src:  url('../font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:  url('../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
/*FONTS END*/
.form{
    font-size: 48px;
    /*line-height: 48px;*/
    color: #000000;
    font-weight: 800;
    font-family: "Playfair-Display-ExtraBold";
    text-transform: uppercase;
    text-align: center;
    margin-top: 62px;
    margin-bottom: 36px;
}
.img__form{
    width: 69%;
    margin-left: -40px;
    margin-right: 15px;
}
.focus{
    position: relative;
}
.animate_t{
    position: absolute;
    left: 20px;
    top: 24px;
    font-size:  150%;
    /*line-height: 48px;*/
    color: #000;
    font-weight: 400;
    font-family: "OpenSans-Regular"
}

.become_a_musician{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
form{
    display: flex;
    flex-direction: column;
    width: 29%;
}
form input{
    outline: none;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
    font-size: 150%;
}
.button__sub{
    width: 115%;
}
.button_form{
    margin-top: 23px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #ffa683;
    color: #000;
    font-size: 150%;
}
h2.question__first_lvl{
    text-align: center;
    font-size: 300%;
    /*line-height: 50px;*/
    white-space: pre-line;
    color: #000;
    font-weight: 700;
    font-family: "Playfair-Display-Bold";
    margin-top: 47px;
}
div.your_lvl div label{
    font-size: 150%;
    /*line-height: 28px;*/
    color: #000;
    font-weight: 400;
    font-family: "OpenSans-Regular";

}
.your_lvl{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 35px;
}
.ask{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ask div {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.ask div label{
    width: 100%;
    margin-bottom: 20px;
    white-space: pre-line;
}
.ask div textarea{
    height: 134px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-size: 125%;
    /*line-height: 28px;*/
    color: #000;
    font-weight: 400;
    /*height: 50%;*/
    font-family: "OpenSans-Regular"
}

.be_musical{
    background-color: #ffa683;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

a.be_music{
    display: inline-block;
    font-size: 300%;
    text-transform: uppercase;
    /*line-height: 48px;*/
    color: #000;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
}
label.ffocus{
    transform: translateY(-30px);
    font-size: 150%;
}