/*// X-Small devices (portrait phones, less than 576px)*/
/*!*@media (max-width: 575.98px) { ... }*! *//*НЕ БОЛЬШЕ 575 >*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/ /* НЕ МЕНЬШЕ 576 >*/

/*// Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/

/*// Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/*// X-Large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/


/*// X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { ... }*/

/*// XX-Large devices (larger desktops, 1400px and up)*/
/*@media (min-width: 1400px) { ... }*/

/*// Small devices (landscape phones, 576px and up)*/


/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.become_a_musician{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
.your_lvl{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
}
.ask{
    flex-direction: column;
    align-items: center;
}
.ask div {
    width: 90%;
    text-align: center;
    font-size: 125%;
}
.img__form{
    width: 100%;
    position: absolute;
}
.become_a_musician form{
    margin: 0 auto;
    width: 50%;
}
form input{
    padding: 30px 25px;
    font-size: 200%;
}
.animate_t{
    font-size: 200%;
    top:42px;
}
.button_form{
    font-size: 200%;
}

}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.become_a_musician{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
.your_lvl{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
}
.ask{
    flex-direction: column;
    align-items: center;
}
.ask div {
    width: 90%;
    text-align: center;
    font-size: 125%;
}
.img__form{
    width: 100%;
    position: absolute;
}
.become_a_musician form{
    margin: 0 auto;
    width: 50%;
}
form input{
    padding: 30px 25px;
    font-size: 200%;
}
.animate_t{
    font-size: 200%;
    top:42px;
}
.button_form{
    font-size: 200%;
}

}
@media (min-width: 992px) and (max-width: 1199.98px)  {
    .become_a_musician{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .your_lvl{
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 35px;
        justify-content: center;
        align-items: center;
    }
    .ask{
        flex-direction: column;
        align-items: center;
    }
    .ask div {
        width: 90%;
        text-align: center;
        font-size: 125%;
    }
    .img__form{
        width: 100%;
        position: absolute;
    }
    .become_a_musician form{
        margin: 0 auto;
        width: 50%;
    }
    /*form input{*/
    /*    padding: 30px 25px;*/
    /*}*/
    /*.animate_t{*/
    /*    font-size: 200%;*/
    /*    top:30px;*/
    /*}*/
    .button__sub{
        position: relative;
    }
    .button_form{
        font-size: 200%;
    }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {

}
@media (min-width: 1400px) {

}