/*// X-Small devices (portrait phones, less than 576px)*/
/*!*@media (max-width: 575.98px) { ... }*! *//*НЕ БОЛЬШЕ 575 >*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/ /* НЕ МЕНЬШЕ 576 >*/

/*// Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/

/*// Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/*// X-Large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/


/*// X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { ... }*/

/*// XX-Large devices (larger desktops, 1400px and up)*/
/*@media (min-width: 1400px) { ... }*/

/*// Small devices (landscape phones, 576px and up)*/


/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.first__feedback{
    width: 100%;
    margin-top: 50px;
}
.second__feedback{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    padding-top: 310px;
}
.img__musical{
    width: 50%;
    margin: 0 50px -50px 25px;    
}
.feedbacks__sec {
    margin-left: 50px;
}
.feedbacks__header{
    width: 40%;
    margin-left: -20px;
}
.feedbacks__header h1 {
    font-size: 450%;
    margin-bottom: 50px;
}
.feedbacks{
    text-align: justify;
    font-size: 200%;
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.first__feedback{
    width: 100%;
    margin-top: 50px;
}
.second__feedback{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    padding-top: 310px;
}
.img__musical{
    width: 50%;
    margin: 0 50px -50px 25px;    
}
.feedbacks__sec {
    margin-left: 50px;
}
.feedbacks__header{
    width: 40%;
    margin-left: -20px;
}
.feedbacks__header h1 {
    font-size: 450%;
    margin-bottom: 50px;
}
.feedbacks{
    text-align: justify;
    font-size: 200%;
}

}

@media (min-width: 992px) and (max-width: 1199.98px)  { 
    .first__feedback{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 102px;
    }
    .second__feedback{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0 auto;
        padding-top: 310px;
    }  
    .img__musical{
        width: 50%;
        margin-bottom: 75px;
        margin-left: 10px;
    }
    .feedbacks__header{
        text-align: justify;
        margin: 0 20px 0 10px ;
    }
    .feedbacks__sec{
        margin-left: 50px;
    }
    p.sec__p{
        margin: 0 20px 25px 0px ;
    }
    .girl{
        margin-right: 50px;
        margin-bottom: 0;
        margin-top: -25px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .first__feedback{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 102px;
    }
    .second__feedback{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0 auto;
        padding-top: 310px;
    }  
    .img__musical{
        width: 50%;
        margin-bottom: 75px;
        margin-left: 10px;
    }
    .feedbacks__header{
        text-align: justify;
        margin: 0 20px 0 10px ;
    }
    .feedbacks__sec{
        margin-left: 50px;
    }
    p.sec__p{
        margin: 0 20px 25px 0px ;
    }
    .girl{
        margin-right: 50px;
        margin-bottom: 0;
        margin-top: -25px;
    }
}

@media (min-width: 1400px) {
    .first__feedback{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 102px;
    }
    .second__feedback{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0 auto;
        padding-top: 310px;
    }  
    .img__musical{
        width: 50%;
        margin-bottom: 75px;
        margin-left: 10px;
    }
    .feedbacks__header{
        text-align: justify;
        font-size: 125%;
    }
    .feedbacks__sec{
        margin-left: 50px;
    }
    p.sec__p{
        margin: 175px 20px 25px 0px ;
        font-size: 175%;
    }
    .girl{
        margin-right: 50px;
        margin-bottom: 0;
        margin-top: -250px;
        padding-bottom: 0;
    }
    .bk__feedback {
        background-size: 100%;
    }
}
