/* FONTS START */
@font-face {
    font-family: 'Playfair-Display-Bold';
    src:  url('../font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-ExtraBold';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-Heavy';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src:  url('../font/OpenSans-ExtraBold.ttf') format('truetype');
    /* url('../font/OpenSans-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;
}
/* FONTS END */
.first__feedback{
    width: 1400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 102px;
}
.feedbacks__header h1{
    font-size: 375%;
    text-transform: uppercase;
    /* line-height: 20px; */
    color: #b17b57;
    font-weight: 700;
    font-family: "Playfair-Display-Bold";
    text-align: center;
    margin-bottom: 103px;
}
.feedbacks{
    font-size: 150%;
    color: #000;
    font-weight: 800;
    font-family: "OpenSans-ExtraBold";
    text-align: left;
    white-space: pre-line;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.show__more{
    font-size: 150%;
    color: #b17b57;
    font-weight: 800;
    font-family: "Playfair-Display-ExtraBold";
    text-align: left;
    text-decoration: underline !important;
    text-transform: lowercase;

}
.bk__feedback{
    background-image: url('../img/bkfeedbacks.svg');
    background-repeat: no-repeat;
    margin-top: -200px;
}

.second__feedback{
    display: flex;
    flex-direction: row-reverse;
    width: 1400px;
    margin: 0 auto;
    padding-top: 310px;
}
.girl{
    padding-bottom: 70px;
}
.feedbacks__sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec__p{
    /*width: 75%;*/
    text-align: left;
    margin-top: 100px;
}
.sec{
    color: #fff;
}
.video{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.link_video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 1475%;
    /*line-height: 158px;*/
    color: #ffffff;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
    z-index: 2;
}
.video img{
    width: 100%;
    display: block;
    z-index: 1;
}
.hidden{
    visibility: hidden;
}
.ifrm_u{
    position: absolute;
    width: 100%;
    height: 100%;
}


.be_musical{
    background-color: #ffa683;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

a.be_music{
    display: inline-block;
    font-size: 300%;
    text-transform: uppercase;
    /*line-height: 48px;*/
    color: #000;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
}

