/*// X-Small devices (portrait phones, less than 576px)*/
/*!*@media (max-width: 575.98px) { ... }*! *//*НЕ БОЛЬШЕ 575 >*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/ /* НЕ МЕНЬШЕ 576 >*/

/*// Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/

/*// Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/*// X-Large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/


/*// X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { ... }*/

/*// XX-Large devices (larger desktops, 1400px and up)*/
/*@media (min-width: 1400px) { ... }*/

/*// Small devices (landscape phones, 576px and up)*/


/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.exp_img{
    width: 100%;
}

.content_slide{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    right: 0;
    align-items: center;
}
h2.title_slid{
    margin-bottom: 20px;
    font-size: 600%;
}
.celebration{
    font-size: 250%;
}
.info_concert {
    margin-top: 20px;
    font-size: 160%;
    line-height: 30px;
}
.date_and_time{
    margin-top: 5px;
    font-size: 225%;
}
.pre__slaide, .next__slide{
    font-size: 60px;
}
.pre__slaide{
    left: 1%;
}
.next__slide{
    right: 1%;
}
.exp_img{
    display: none;
}
.know_more{
    margin-top: 15px;
    font-size: 600%;
}
.more{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__more{
    font-size: 450%;
    line-height: normal;
}
.more div p{
    width: 80%;
    font-size: 200%;
    margin: 0 auto;
}
.costs_packeg{
    margin-top: 50px;
    margin-bottom: 35px;
}
.more div ul{
    margin-bottom: 75px;
    font-size: 150%;
}
h3.packeg__for__me {
    width: 100%;
    font-size: 500%;
    /*text-transform: uppercase;*/
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}
.sertificate__and_diploma{
    width: 100%;
    padding-top: 400px;
    margin-left: -50px;
}
.diplom{
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content_slide_feed{
    width:100%;
    justify-content: center;
    background-color: #e9a484;
}
.pre_slide_feed{
    left: 1%;
}
.next_slide_feed{
    right: 1%;
}
.pre_slide_feed, .next_slide_feed{
    font-size: 50px;
    margin-top: -125px;
}
.text_feed{
    font-size: 175%;
}
a.show_more{
    margin-top: 20px;
    font-size: 200%;
    padding-bottom: 30px;
}
.feed_img{
    margin-top: -100px;
    background-color: transparent;
    width: 30%;
}
.text__content_slide_feed{
    margin-top: 50px;
    width: 50%;
    background-color: #e9a484;
}
.be_musical{
    width:100%;
}
a.be_music{
    font-size: 450%;
    margin: 35px 0;
}
.content_slide_feed_even{
    flex-direction: row-reverse;
}
.feed_img_girl{
    width: 30%;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.slaider{
    width: 100%;
}
.content_slide{
    width: 100%;

    margin-top: 25px;
    display: flex;
    flex-direction: column;
    right: 0;
    align-items: center;
}

h2.title_slid{
    margin-bottom: 20px;
    font-size: 600%;
}
.celebration{
    font-size: 250%;
}
.info_concert {
    margin-top: 20px;
    font-size: 160%;
    line-height: 30px;
}
.date_and_time{
    margin-top: 5px;
    font-size: 225%;
}
.pre__slaide, .next__slide{
    font-size: 60px;
}
.pre__slaide{
    left: 1%;
}
.next__slide{
    right: 1%;
}
.exp_img{
    display: none;
}
.know_more{
    margin-top: 15px;
    font-size: 600%;
}
.more{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__more{
    font-size: 450%;
    line-height: normal;
}
.more div p{
    width: 80%;
    font-size: 200%;
    margin: 0 auto;
}
.costs_packeg{
    margin-top: 50px;
    margin-bottom: 35px;
}
.more div ul{
    margin-bottom: 75px;
}
h3.packeg__for__me {
    width: 100%;
    font-size: 500%;
    /*text-transform: uppercase;*/
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}
.sertificate__and_diploma{
    width: 100%;
    padding-top: 400px;
    margin-left: -50px;
}
.diplom{
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content_slide_feed{
    width:100%;
    justify-content: center;
    background-color: #e9a484;
}
.pre_slide_feed{
    left: 1%;
}
.next_slide_feed{
    right: 1%;
}
.pre_slide_feed, .next_slide_feed{
    font-size: 50px;
    margin-top: -125px;
}
.text_feed{
    font-size: 175%;
}
a.show_more{
    margin-top: 20px;
    font-size: 200%;
    padding-bottom: 30px;
}
.feed_img{
    margin-top: -50px;
    background-color: transparent;
    width: 30%;
}
.text__content_slide_feed{
    margin-top: 50px;
    width: 50%;
    background-color: #e9a484;
}
.be_musical{
    width:100%;
}
a.be_music{
    font-size: 450%;
    margin: 35px 0;
}
.content_slide_feed_even{
    flex-direction: row-reverse;
}
.feed_img_girl{
    width: 25%;
}
}

@media (min-width: 992px) and (max-width: 1199.98px)  { 
    .content_slide{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
   
    h2.title_slid {
        font-size: 450%;
        margin-bottom: 10px;
    }
    .celebration {
        font-size: 200%;
    }
    .info_concert {
        margin-top: 50px;
    }
    .pre__slaide, .next__slide{
        font-size: 70px;
    }
    .more{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .more div p{
        width: 90%;
        margin: 0 auto;
    }
    .more div {
        margin-bottom: 20px;
    }
    h3.packeg__for__me {
        font-size: 300%;
        text-align: right;
        width: 100%;
        margin-top: 0;
        margin-left: -50px;
    }
    .sert {
        margin-top: -60px;
    }
    .sertificate__and_diploma{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-top: 400px;
        margin-left: -50px;
    }
    .diplom{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .be_musical{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .content_slide_feed{
        width: 100%;
        justify-content: space-around;
        background-color: #e9a484;
    }
    .feed_img {
        margin-top: -15px;
        width: 30%;
        background-color: transparent;
    }
    .pre_slide_feed, .next_slide_feed{
        font-size: 60px;
    }
    .text__content_slide_feed {
       width: 51%;
        margin-top: 60px;
        margin-left: 25px;
        background-color: #e9a484;
    }
    a.show_more {
        margin-top: 20px;
    }
    .content_slide_feed_even{
        flex-direction: row-reverse;
    }
    .feed_img_girl{
        width: 20%;
    }

 }

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .content_slide{
        width: 100%;
        margin-top: 0px;
    }
    
    .more{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    h3.packeg__for__me {
        font-size: 375%;
        /*line-height: 20px;*/
        color: #b17b57;
        font-weight: 700;
        font-family: "Playfair-Display-Bold";
        text-align: right;
        width: 100%;
        margin: 0 auto;
        margin-top: 75px;
    }
    .sertificate__and_diploma{

        width: 100%;
        padding-top: 500px;
        margin-left: -100px;

    }
    .more div:last-child{
        margin-top: 50px;
    }
    h3.packeg__for__me a{
        margin-right: 100px;
    }
    .diplom{
        width: 100%;
        margin-top: 100px;
        margin-left: -100px;
        margin-bottom: 100px;
    }
    .feed_img{
        width: 40%;
        margin-top: 0;
        background-color: transparent;
    }
    .pre_slide_feed, .next_slide_feed{
        font-size: 75px;
    }
    .text__content_slide_feed{
        width: 40%;
    }
    .content_slide_feed{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .be_musical{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .content_slide_feed_even{
        flex-direction: row-reverse;
    }
    .feed_img_girl{
        width: 30%;
    }
}
@media (min-width: 1400px) {
    h3.packeg__for__me a{
        margin-right: 100px;
    }
   
    .sertificate__and_diploma{

        width: 100%;
        padding-top: 35%;
        margin-left: -100px;

    }
    .diplom{
        width: 100%;
        margin-top: 100px;
        margin-left: -100px;
        margin-bottom: 100px;
    }
    .feed_img{
        width: 40%;
        margin-top: 0;
        background-color: #e9a484;
    }
    .pre_slide_feed, .next_slide_feed{
        font-size: 75px;
    }
    .text__content_slide_feed{
        width: 40%;
    }
    .content_slide_feed{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .content_slide_feed_even{
        flex-direction: row-reverse;
    }
    .feed_img_girl{
        width: 30%;
    }
}
