/* FONTS */
@font-face {
    font-family: 'Playfair-Display-Heavy';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-ExtraBold';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;

}
@font-face {
    font-family: 'Playfair-Display-Bold';
    src:  url('../font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src:  url('../font/OpenSans-ExtraBold.ttf') format('truetype');
    /* url('../font/OpenSans-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src:  url('../font/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src:  url('../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
/* FONTS END */

.slaider{
    position: relative;
    width: 100%;
}

.bk_slide, .slider_container_b{
    /*background-image: url('../img/photo.png');*/
    width: 100%;
    height: auto;
    z-index: 0;
    overflow: hidden;
}
.slider_trek{
    display: flex;
    transition: .6s;
}
.slider_track_b{
    display: flex;
    transition: .6s;
}
.content_slide_feed_even{
    flex-direction: row-reverse;
}
.feed_img_girl{
    width: 30%;
}
.pre__slaide,.next__slide {
    z-index: 10;
    position: absolute;
    top:0;
    bottom: 0;
    color:#ffa683 ;
    font-size: 140px;
    /*background-color: #ffa683;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pre__slaide{
    left: 2%;
}

.next__slide{
    right: 2%;
}

.slide_1{
    position: relative;
    width: 100%;
}
.slide_1 img{
    width: 100%;
}

.content_slide{
    z-index: 1;
    position: absolute;
    top: 0;
    /* left: 0;*/
     /* bottom: 0; */
      right: 15%;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin:0 auto;
    margin-top: 55px;
}

.pos_title{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

h2.title_slid{
    text-align: center;
    font-size: 737%;
    /* line-height: 50px; */
    color: #fff;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
    text-transform: uppercase;
    margin-bottom: 40px;
}

.celebration{
    text-align: center;
    font-size: 315%;
    /* line-height: 50px; */
    color: #fff;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
}

.info_concert{
    width: 486px;
    font-size: 143%;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    font-family: "OpenSans-Regular";
    text-align: center;
    margin: 0 auto;
    margin-top: 90px;
    text-transform: uppercase;
}

.date_and_time{
    width: 486px;
    font-size: 275%;
    /*line-height: 43px;*/
    color: #fff;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
}

.exp_img{
    margin-top: 60px;
    margin-bottom: 90px;
    width: 100%;
}

.exp_img img {
    width: 100%;
}

.know_more {
    font-size: 375%;
    /*line-height: 60px;*/
    text-align: center;
    color: #b17b57;
    font-weight: 700;
    font-family: "Playfair-Display-Bold";
    margin-bottom: 70px;
}

.more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}

.more div{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    text-align: center;
}

.title__more{
    white-space: pre-line;
    font-size: 300%;
    line-height: 60px;
    color: #b17b57;
    font-weight: 700;
    font-family: "Playfair-Display-Bold";
    /*text-align: center;*/
    margin-bottom: 30px;
}

.title__more:before{
    content: "\e902";
    color: #e9a484 ;
    font-size: 150%;
    margin-left: -63px;
    padding-right:23px;
}

/*.title__more span{*/
/*    color: #e9a484 ;*/
/*    font-size: 150%;*/
/*    margin-left: 10px;

/*    background-color: #e9a484;*/
/*}*/

.more div p{
    width: 456px;
    font-size: 113%;
    line-height:113%;
    color: #000;
    font-weight: 400;
    font-family: "OpenSans-Regular";
    /*text-align: center;*/
}

.costs_packeg{
    margin: 15px 0;
    font-size: 113%;
    /*line-height:150%;*/
    color: #000;
    font-weight: 700;
    font-family: "OpenSans-Bold";
}

.more div ul li{
    margin-bottom: 15px;
}

.more div ul li span:first-child{
    font-size: 113%;
    /*line-height:150%;*/
    color: #000;
    font-weight: 400;
    font-family: "OpenSans-Regular";
}

.more div ul li span:last-child{
    font-size: 113%;
    /*line-height:150%;*/
    color: #000;
    font-weight: 800;
    font-family: "OpenSans-ExtraBold";
}

h3.packeg__for__me {
    font-size: 375%;
    /*line-height: 20px;*/
    color: #b17b57;
    font-weight: 700;
    font-family: "Playfair-Display-Bold";
    text-align: right;
    width: 1400px;
    margin: 0 auto;
    margin-top: 75px;
}
h3.packeg__for__me a{
    color: #b17b57;
}

.sert{
    margin-top: -150px;
    background-image: url('../img/bkbio.svg') ;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 87% 0px;
}

.sertificate__and_diploma{
    display: flex;
    justify-content: flex-end;
    width: 1400px;
    margin: 0 auto;
    padding-top: 700px;
    white-space: pre-line;
    font-size: 375%;
    /* line-height: 60px; */
    color: #fff;
    font-weight: 700;
    font-family: "Playfair-Display-Bold";
    text-align: right;
}

.diplom{
    display: flex;
    justify-content: flex-end;
    width: 1400px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
}

.diplom img:last-child{
    margin-left: 25px;
}

h4.feedback{
    font-size: 375%;
    /* line-height: 60px; */
    color: #fff;
    font-weight: 700;
    font-family: "Playfair-Display-Bold";
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 12;
}

.slider__feedback{
    z-index: 1;
    position: relative;
    padding-bottom: 25px;
}

.content_slide_feed{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.feed_img{
    margin-top: -210px;
    background-color: #e9a484;
}
.text__content_slide_feed{
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    margin-left: 10px;
}

.text_feed{
    /*width: 819px;*/
    /*height: 227px;*/
    font-size: 150%;
    /*line-height: 28px;*/
    color: #000;
    font-weight: 800;
    font-family: "OpenSans-ExtraBold";
    text-align: left;
    white-space: pre-line;
}

a.show_more{
    font-size: 150%;
    /*line-height: 24px;*/
    color: #fff;
    font-weight: 800;
    font-family: "Playfair-Display-ExtraBold";
    text-decoration: underline !important;
    text-transform: lowercase;
    /*text-align: left;*/
    margin-top: 40px;
}

.pre_slide_feed,.next_slide_feed {
    z-index: 10;
    position: absolute;
    top:0;
    bottom: 0;
    color:#b17b57 ;
    font-size: 100px;
    /*background-color: #ffa683;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
}

.pre_slide_feed{
    left: 2%;
}

.next_slide_feed{
    right: 2%;
}

.be_musical{
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}
a.be_music{
    display: block;
    margin: 65px 0;
    font-size: 300%;
    text-transform: uppercase;
    /*line-height: 48px;*/
    color: #000;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
}
