/*// X-Small devices (portrait phones, less than 576px)*/
/*!*@media (max-width: 575.98px) { ... }*! *//*НЕ БОЛЬШЕ 575 >*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/ /* НЕ МЕНЬШЕ 576 >*/

/*// Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/

/*// Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/*// X-Large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/


/*// X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { ... }*/

/*// XX-Large devices (larger desktops, 1400px and up)*/
/*@media (min-width: 1400px) { ... }*/

/*// Small devices (landscape phones, 576px and up)*/


/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.courses{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.courses div.n_pck {
    margin-top: 50px;
    width:100%;
}
.solfegio{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.music_lit{
    width: 100%;
    margin:  0 auto;
    padding-bottom: 5%;
}
.package, .buy__form{
    font-size: 200%;
}
.name_level {
    font-size: 150%;
}
.subjects li {
    font-size: 250%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: justify;
}
ul.subjects li span.price {
    font-size: 113%;
    margin-left: 25px;
}
.subjects{
    margin:0 3% ;
}
.total_cost {
    margin: 50px 0;
}
a.buy__form{
    margin-bottom:100px;
}
.bknotes {
    margin-top: -100px;
}
.solfegio h2{
    margin-top: 400px;
    margin-bottom: 100px;
    margin-right: 50px;
    font-size: 450%;
}
h5.course__length {
    font-size: 200%;
    text-align: center;
    margin-bottom: 75px;
}
.content_list {
    display: flex;
    flex-direction:column;
    margin-bottom: 140px;
    background-color: #e9a484;
}
.fortepiano{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}
.be_musical{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.course__length + ul li{
    font-size: 200%;
    margin: 0 10%;
    margin-bottom: 75px;
}
div.last_list_div{
    margin-left: 0;
    padding-bottom: 150px;
}
.bk__musliter {
    margin-top: -30%;

}
.content_list div ul li:before{
    font-size: 250%;
    left: -80px;
}
.fist_ul{
    flex-direction: column;
}
.fist_ul h2 {
    margin-top: 125px;
    white-space: normal;
}
.ul_lit{
    margin-right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 85%;
}
.ul_lit li{
    font-size: 180%;
}
.ul_lit li:before{
    left: 40px;
    font-size: 275%;
}
.programs ul.ullimus {
    position: relative; column-count: 2; column-gap: 100px; text-align: justify;
}
}

/*// Medium devices (ta
mb50pxblets, 768px and up)*/
@media
(min-width: 768px) and (max-width: 991.98px) {
.courses{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.courses div.n_pck {
    margin-top: 50px;
    width:100%;
}
.solfegio{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.music_lit{
    width: 100%;
    margin:  0 auto;
    padding-bottom: 5%;
}
.package, .buy__form{
    font-size: 200%;
}
.name_level {
    font-size: 150%;
}
ul.subjects li {
    font-size: 250%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: justify;
}
ul.subjects li span.price {
    font-size: 113%;
    margin-left: 25px;
}
.subjects{
    margin:0 3% ;
}
.total_cost {
    margin: 50px 0;
}
a.buy__form{
    margin-bottom:100px;
}
.bknotes {
    margin-top: -100px;
}
.solfegio h2{
    margin-top: 400px;
    margin-bottom: 100px;
    margin-right: 50px;
    font-size: 450%;
}
h5.course__length {
    font-size: 200%;
    text-align: center;
    margin-bottom: 75px;
}
.content_list {
    display: flex;
    flex-direction:column;
    margin-bottom: 140px;
    background-color: #e9a484;
}
.fortepiano{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}
.be_musical{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.course__length + ul li{
    font-size: 200%;
    margin: 0 10%;
    margin-bottom: 75px;
}
div.last_list_div{
    margin-left: 0;
    padding-bottom: 150px;
}
.bk__musliter {
    margin-top: -30%;

}
.content_list div ul li:before{
    font-size: 250%;
    left: -80px;
}
.fist_ul{
    flex-direction: column;
}
   .fist_ul h2{
       font-size: 275%;
       margin-top: 125px;
       white-space: normal;
       margin-bottom: 50px;
   }
 .ul_lit{
     margin-right: 0;
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     width: 85%;
 }
 .ul_lit li{
     font-size: 180%;
     margin-bottom: 100px;

 }
 .ul_lit li:before{
     left: 40px;
     font-size: 275%;
 }
 div.programs ul.ullimus {
     column-count: 1;
     column-gap: 0;
     text-align: justify;
     margin: 0 10%;
     padding-bottom: 75px;
 }
    div.fortepiano h1{
        text-align: center;
        margin-top: 125px;
    }
    .fortepiano div h6{
        text-align: center;
        font-size: 275%;
    }
    ul.forte_list{
        column-count: 1;
        column-gap: 0px;
        margin: 0 10%;
    }
    .forte_list li{
        margin-bottom: 75px;
    }
    .fortepiano ul li:before{
        font-size: 225%;
        margin-left: -50px;
    }
    .programs ul li:before{
        font-size: 150%;
        margin-left: -50px;
    }
    .programs h5{
        text-align: center;
        font-size: 350%;
    }
    .programs ul h6{
        text-align: center;
        font-size: 350%;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px)  { 
    .courses{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        max-width: 100%;
        margin: 0 auto;
    }
    .bk__musliter{
        margin-top: -175px;
    }
    .bkfortepiano{
        margin-top: -17%;
    }
    .solfegio{
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .solfegio h2 {
        margin-bottom: 125px;
        margin-top: 400px;
        margin-right: 50px;

    }
    .content_list {
        margin: 0 5%;
        margin-bottom: 140px;
    }
    .music_lit{
        width: 100%;
        margin:  0;
        padding-bottom: 10%;

    }
    .fist_ul h2{
        margin-left: 5%;
    }
    .ul_lit {
        margin-right: 3%;
    }
    .programs ul.ullimus{
        margin: 0 5%;
    }
    div.fortepiano h1 {
        margin-right: 5%;
    }
    .fortepiano div.for_c > h6 {
        margin-left: 5%;
    }
    ul.forte_list {
        margin: 0 5%;
    }
    .fortepiano{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
    }
    .be_musical{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .courses{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        max-width: 100%;
        margin: 0 auto;
    }
    .solfegio{
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .solfegio h2 {
        margin-bottom: 125px;
        margin-top: 550px;
        margin-right: 50px;

    }
    .content_list {
        margin: 0 5%;
        margin-bottom: 140px;
    }
    .music_lit{
        width: 100%;
        margin:  0;
        padding-bottom: 10%;

    }
    .fist_ul h2{
        margin-left: 5%;
    }
    .ul_lit {
        margin-right: 3%;
    }
    .programs ul.ullimus{
        margin: 0 5%;
    }
    div.fortepiano h1 {
        margin-right: 5%;
    }
    .fortepiano div.for_c > h6 {
        margin-left: 5%;
    }
    ul.forte_list {
        margin: 0 5%;
    }
    .fortepiano{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
    }
    .be_musical{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (min-width: 1400px) {
    .courses {
        font-size: 140%;
    }
    .solfegio h2 {
        margin-top: 600px;
        margin-bottom: 200px;
        font-size: 600%;
    }
    .bk__musliter{
        margin-top: -300px;
    }
    .bkfortepiano{
        margin-top: -17%;
    }
    .content_list{
        font-size: 150%;
        padding-bottom: 10%;
    }
    .music_lit{
        width: 100%;
    }
    div.last_list_div {
        margin-left: 200px;
    }
    .fist_ul {
        padding-top: 20%;
        margin-bottom: 30px;
        font-size: 150%;
    }
    .fist_ul h2 {
        margin-left: -100px;
    }
    .ul_lit {
        font-size: 90%;
        margin-right: 30px;
    }
    .ul_lit li:before {

        left: -100px;
        font-size: 200%;
        font-family: 'icomoon', serif !important;
    }
    .programs ul.ullimus {
        font-size: 150%;
    }
    .programs ul.ullimus li{
        margin-bottom: 50px;
    }
    .programs{
        margin:  0 10%;
    }
    .fist_ul h2{
        margin-left: 125px;
    }
    div.fortepiano h1{
        margin-right: 50px;
    }
    .programs ul li:before {
        margin-left: -40px;
    }
    .fortepiano {
        margin-top: 100px;
    }
    .for_c {
        font-size: 150%;
        margin: 0 5%;
    }
}
@media (min-width: 1950px){
.solfegio h2 {
    margin-top: 1200px;
    margin-bottom: 200px;
    font-size: 600%;
}
}