/*
width: 427px;
height: 95px;
font-size: 30px;
line-height: 24px;
color: #b17b57;
font-weight: 800;
font-family: "Playfair Display";
text-align: center;
*/

/*FONTS */
@font-face {
    font-family: 'Playfair-Display-ExtraBold';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-Regular';
    src:  url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-Regular.ttf') format('truetype'); */
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-Heavy';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src:  url('../font/OpenSans-Bold.ttf') format('truetype');
    /* url('../font/OpenSans-Bold.ttf') format('truetype'); */
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src:  url('../font/OpenSans-ExtraBold.ttf') format('truetype');
    /* url('../font/OpenSans-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src:  url('../font/OpenSans-Regular.ttf') format('truetype');
    /* url('../font/OpenSans-Regular.ttf') format('truetype'); */
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
/*END*/
.courses{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
}
.courses div.n_pck{
    margin-top: 110px;
}
.package, .buy__form{
    font-size:143%;
    /*line-height: 24px;*/
    color: #b17b57;
    font-weight: 800;
    font-family: "Playfair-Display-ExtraBold", serif;
    text-align: center;
}
.name_level{
    font-size: 113%;
    font-weight: 700;
    color: #000;
    font-family: "OpenSans-Bold", serif;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 25px;
}
a.buy__form{
    display: block;
    margin-top: 50px;
    text-decoration: underline !important;

}

ul.subjects li{
    font-size: 113%;
    font-family: "OpenSans-Regular", serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
ul.subjects li span.price{
    font-size: 113%;
    font-family: "OpenSans-ExtraBold", serif;
    font-weight: 800;
    color: #000;
}
.total_cost{
    font-size: 113%;
    color: #000;
    font-weight: 700;
    font-family: "OpenSans-Bold", serif;
    text-align: center;
}
.total_cost span{
    font-weight: 800;
    font-family: "OpenSans-ExtraBold", serif;
}
.bknotes{
    background-image: url('../img/bkbio.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 87% 0px;
    margin-top: -150px;
}
.solfegio{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.solfegio h2{
    margin-top: 600px;
    margin-bottom: 225px;
    display: flex;
    justify-content: flex-end;
    font-size: 285%;
   /* line-height: 48px;*/
    color: #fff;
    font-weight: 800;
    font-family: 'Playfair-Display-ExtraBold', serif;
}
div.last_list_div{
    margin-left: 45px;
}
.content_list{
    display: flex;
    flex-direction: row;
    margin-bottom: 140px;
}
.content_list div ul li:before{
    content: '\e903';
    position: absolute;
    left: -23px;
    font-family: 'icomoon', serif !important;
}
.course__length{
    font-size: 143%;
    font-family: 'OpenSans-ExtraBold';
    font-weight: 800;
    color: #000;
}
h5.course__length{
    margin-bottom: 28px;
    margin-left: 25px;

}
.course__length + ul li {
    margin-bottom: 30px;
    text-align: justify;
    margin-left: 23px;
    position: relative;
    font-family: 'OpenSans-Regular';
}
.last_list_div ul li:before {
    content: '\e903';
    position: absolute;
    left: -23px;
    font-family: 'icomoon', serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.bk__musliter{
    background-image: url('../img/bottomnota.svg');
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: 50% 0%;
    margin-top: -13%;
    z-index: 1;
    position: relative;
}
.music_lit{
    width: 1400px;
    margin:  0 auto;
    padding-bottom: 10%;
}
.fist_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8%;
    margin-bottom: 30px;
}
.fist_ul h2{
    font-size: 275%;
    /* line-height: 60px; */
    color: #b17b57;
    margin-top: 50px;
    font-weight: 800;
    font-family: "Playfair-Display-ExtraBold", serif;
    white-space: pre-line;
}
.programs h5{
    font-size: 113%;
    font-family: 'Playfair-Display-ExtraBold';
    font-weight: 800;
    margin-bottom: 17px;
}
.programs ul.ullimus{
    position: relative;
    column-count: 2;
    column-gap: 100px;
    text-align: justify;
}
.programs ul li, .full_course ul li{
   font-size: 155%;
   font-weight: 400;
   font-family: 'OpenSans-Regular'; 
}
.full_course ul{
    position: relative;
}
 .full_course ul li:before{
    content: '\e903';
    position: absolute;
    /*left: -23px;*/
    font-family: 'icomoon', serif 
}
.programs ul  h6{
    margin-bottom: 35px;
}
.programs ul .full_course h6{
    margin-bottom: 20px;
}
.programs ul li{
    margin-bottom: 20px;
}
.programs ul li:before{
    content: '\e903';
    position: absolute;
    margin-left: -25px;
    font-family: 'icomoon', serif;
}
h6{
    font-size: 113%;
    font-family: 'OpenSans-ExtraBold';
    font-weight: 900;
}
.ul_lit{
    margin-right: 150px;
}
.ul_lit li{
    position: relative;
    font-size: 150%;
    /* line-height: 48px; */
    color: #000;
    font-weight: 400;
    font-family: "OpenSans-Regular";
    margin-bottom: 37px;
}
.ul_lit li:before{
    content: '\e902';
    position: absolute;
    left: -60px;
    font-size: 200%;
    font-family: 'icomoon', serif  !important;
}
.full_course{
    margin-top: 33px;
}
.full_course h6{
    font-family: 'OpenSans-Bold';   
    font-weight: 700;
}
.bkfortepiano{
    background-image: url('../img/topnot.svg');
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: 50% -1%;
    position: relative;
  background-color: #e9a484;
    padding-bottom: 70px;
    padding-top: 7%;
    position: relative;
    margin-top: -115px;
    z-index: -1;
}
.fortepiano{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1400px;
    margin: 0 auto;
    font-size: 16px;
}
div.fortepiano h1 {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    font-size: 375%;
    margin-top: 150px;
    /*line-height: 60px;*/
    color: #fff;
    font-weight: 800;
    font-family: "Playfair-Display-ExtraBold";
    text-align: right;
    white-space: pre-line;
}
.fortepiano div h6, .full_course_fortepiano h6{
    font-family: 'OpenSans-ExtraBold';
    font-weight: 800;
    font-size: 113%;
}
.fortepiano div h6{
    margin-bottom: 20px;
}
.fortepiano ul li:before{
    content: '\e903';
    position: absolute;
    margin-left: -25px;
    font-family: 'icomoon', serif  !important;
}
.fortepiano ul{
    position: relative;
}
.for_c{
    margin-top: 35px;
}
.forte_list li{
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    font-size: 113%;
    text-align: justify;
}
.forte_list_li{
    margin-bottom: 15px;
}
.full_course_fortepiano{
    margin-top: 30px;
}
ul.forte_list{
    column-count: 2;
    column-gap: 85px;
}
.be_musical{
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}
a.be_music{
    display: block;
    margin: 65px 0;
    font-size: 300%;
    text-transform: uppercase;
    /*line-height: 48px;*/
    color: #000;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
}
