/*FONTS*/
@font-face {
    font-family: 'Playfair-Display-Heavy';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-Bold';
    src:  url('../font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Playfair-Display-ExtraBold';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    /* url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src:  url('../font/OpenSans-ExtraBold.ttf') format('truetype');
    /* url('../font/OpenSans-ExtraBold.ttf') format('truetype'); */
    font-weight: 800;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src:  url('../font/OpenSans-Regular.ttf') format('truetype');
    /* url('../font/OpenSans-Regular.ttf') format('truetype'); */
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
/*FONTS END*/

h1.question_title{
    font-size: 375%;
    /*line-height: 20px;*/
    color: #c37c54;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: "Playfair-Display-Bold";
    margin-top: 50px;
    margin-bottom: 32px;
}
.container{
    background-image: url('../img/question.png');
    background-repeat: no-repeat;
    background-position-y: 5%;
    background-position-x: 8%;
}
.info__block {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 60px;
 
}
.info__block li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.question {
 width: 49%;
font-size: 150%;
/* line-height: 28px; */
color: #000;
font-weight: 800;
font-family: "OpenSans-ExtraBold";
white-space: pre-line;
text-transform: uppercase;
}
.answer {
    width: 49%;
    font-size: 150%;
    /* line-height: 28px; */
    color: #000;
    font-weight: 400;
    font-family: "OpenSans-Regular";
    text-align: left;
    white-space: pre-line;
    margin-bottom: 30px;
}
.answer span{
    /* font-size: 150%; */
    /* line-height: 28px; */
    color: #000;
    font-weight: 800;
    font-family: "OpenSans-ExtraBold";
    text-align: left;
    }


.be_musical{
    background-color: #ffa683;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

a.be_music{
    display: inline-block;
    font-size: 300%;
    text-transform: uppercase;
    /*line-height: 48px;*/
    color: #000;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy";
}