/*// X-Small devices (portrait phones, less than 576px)*/
/*!*@media (max-width: 575.98px) { ... }*! *//*НЕ БОЛЬШЕ 575 >*/

/*// Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/ /* НЕ МЕНЬШЕ 576 >*/

/*// Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/

/*// Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/*// X-Large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/


/*// X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { ... }*/

/*// XX-Large devices (larger desktops, 1400px and up)*/
/*@media (min-width: 1400px) { ... }*/

/*// Small devices (landscape phones, 576px and up)*/


/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.info__block {
    width: 100%;
}
    .info__block li{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .question{
        width: 90%;
        text-align: center;
        margin-top: 50px;
        font-size: 200%;
    }
    .container{
        background-image: none;
    }
    h1.question_title{
        font-size: 450%;
    }
    .answer{
        width: 90%;
        font-size: 200%;
        margin-top: 75px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.info__block {
    width: 100%;
}
    .info__block li{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .question{
        width: 90%;
        text-align: center;
        margin-top: 50px;
        font-size: 200%;
    }
    .container{
        background-image: none;
    }
    h1.question_title{
        font-size: 450%;
    }
    .answer{
        width: 90%;
        font-size: 200%;
        margin-top: 75px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px)  {
    .info__block {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 60px;
    }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .info__block {
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 60px;
    }
}
@media (min-width: 1400px) {

}
@media (min-width: 1950px){
    .container {
        background-position-x: 25%;
    }
    }
