/*FONTS*/
@font-face {
    font-family: 'Playfair-Display-Heavy';
    src:  url('../font/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Playfair-Display-Medium';
    src:  url('../font/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Open Sans';
    src:  url('../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

/*END */
div#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
    padding: 25px 0 20px 0;

}
div.logo{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    /* margin-left: 230px; */
}
div.logo > a {
    display: flex;
    flex-direction: row;
}
span.icon-Vector-Smart-Object{
    font-size: 600%;
}
label.logoImg{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 150%;
    line-height:150%;
    color: #000;
    font-weight: 900;
    font-family: "Playfair-Display-Heavy", serif;
    margin-left: 11px;
    margin-top: -15px;
}
label.logoImg span.studio{
    color: #000;
    font-size: 90%;
    line-height: 90%;
    font-weight: 400;
    font-family: 'Open Sans', serif;
}
.end_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    /* margin-right: 230px; */
}
.contact{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.language{
    align-items: center;
    display: flex;
}
a {
    text-decoration: none !important;
    color: #000;
}
a.mobil_number{
    font-size: 230%;

    color: #000;
    font-weight: 500;
    /*font-family: "Playfair-Display-Medium", serif;*/
}
a.facebook {
    margin: 0 27px 0 38px;
}
a span.icon-facebook2{
    font-size: 200%;
}
select#h_select__language, #f_select__language{
    font-size: 200%;
    border: none;
    color: #000000;
    font-weight: 400;
    vertical-align: 10px;
    font-family: "Open Sans";
    -webkit-appearance: none;
/* width: 51px; */
    appearance: none;
}

div.navigation{

    background-color: #ffa683;
}
nav{
    /* margin: 0 230px 0 230px ; */
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffa683;
}
nav a {
    font-size: 173%;
   /* line-height: 48px;*/
    color: #000;
    font-weight: 800;
    font-family: "Playfair-Display-Heavy";
    text-transform: uppercase;
    padding: 18px;
}
nav a:first-child{
    padding-left: 0;
}
nav a:last-child{
    padding-right: 0;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer div.logo__footer{
    margin: 25px 0 ;
}
footer div.contact__footer{
    margin: 0 25px;
}
footer div.contact__footer a.mobil_number{
    margin-right: 25px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    div#header{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    div.logo{
        margin-right: 0;
    }
    .end_block{
        margin-left: 0;
    }
    span.icon-Vector-Smart-Object{
        font-size: 1200%;
    }
    label.logoImg{
        font-size: 300%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .language{
        margin-bottom: 10px;
    }
    a span.icon-facebook2{
        font-size: 350%;
    }
    select#h_select__language, #f_select__language{
        font-size: 350%;
    }
    select#h_select__language option, #f_select__language option{
        font-size: 25%;
    }
    a.mobil_number{
        font-size: 350%;
        margin-bottom: 25px;
    }
    nav{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    nav a {
        font-size: 300%;
        margin: 10px 0;
        padding: 20px;
    }
    nav a:first-child{
        padding-left:20px;
    }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    div#header{
        width: 100%;
        flex-direction: column;
    }
    div.logo{
        margin-right: 0;
    }
    .end_block{
        margin-left: 0;
    }
    span.icon-Vector-Smart-Object{
        font-size: 1200%;
    }
    label.logoImg{
        font-size: 300%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .language{
        margin-bottom: 10px;
    }
    a span.icon-facebook2{
        font-size: 350%;
    }
    select#h_select__language, #f_select__language{
        font-size: 350%;
    }
    select#h_select__language option, #f_select__language option{
        font-size: 25%;
    }
    a.mobil_number{
        font-size: 350%;
        margin-bottom: 25px;
    }
    nav{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    nav a {
        font-size: 300%;
        margin: 10px 0;
        padding: 20px;
    }
    nav a:first-child{
        padding-left:20px;
    }
    .menu_icon{
        z-index: 10;
        display: block;
        position: relative;
        margin:auto;
        padding: 25px 0;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
    .menu_icon span,
    .menu_icon:before,
    .menu_icon:after{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all .3s ease 0s;
      background-color: #fff;  
    }
    .menu_icon:before,
    .menu_icon:after{
        content: '';
    }
    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu_icon:before{
        top: 10%;
    }
    .menu_icon:after{
        bottom: 10%;
    }
    nav{
        position: absolute;
        transition: all .5s ease 0s;
        display: flex;
        align-items: center;
        transform: translate(0, -100%);
    }
    nav.active{
        position: absolute;
        top: 100px;
        transform: translate(0, 0%);
        z-index: 5;
    }
    .navigation{
        position: relative;
        z-index: 2;
        
    }
    .navigation::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        background-color: #ffa683;
        z-index: 6;
    }
    .menu_icon.active span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon.active:before{
        top:50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon.active:after{
        bottom:50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    #header{
        position: relative;
        z-index: 10;
        background-color: #fff;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px)  {
div#header{
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
nav{
    /* margin: 0 230px 0 230px ; */
    width: 100%;
    justify-content: space-around;
}
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
    div#header{
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }
    nav{
        /* margin: 0 230px 0 230px ; */
        width: 100%;
        justify-content: space-around;
    }
}
