@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yuai5m');
  src:  url('fonts/icomoon.eot?yuai5m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yuai5m') format('truetype'),
    url('fonts/icomoon.woff?yuai5m') format('woff'),
    url('fonts/icomoon.svg?yuai5m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-_2:before {
  content: "\e900";
}
.icon-arrow-_1:before {
  content: "\e901";
}
.icon-Vector-Smart-Object-_1:before {
  content: "\e902";
}
.icon-1:before {
  content: "\e903";
}
.icon-Vector-Smart-Object:before {
  content: "\e904";
}
.icon-facebook2:before {
  content: "\ea91";
}
