<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleIcon.css">
    <link rel="stylesheet" href="./css/bio.css">
    <link rel="stylesheet" href="./css/bioAdaptive.css">
</head>
<body>
<%- include ('header.ejs') %>
<main>
   <div class="br">
       <div class="portrait_b">
           <h1>БІОГРАФІЯ</h1>
           <img src="./img/portrait.png" alt="portrait">
       </div>
   </div>
   </div>
<!--    <div class="notes_bk"><img src="./img/bknotes.png" alt="notes"></div>-->
    <div class="bk_music">
        <div class="text_b">
            <p>Любов до музики мені прищепили батьки ще у дитинстві, адже <span class="bold_text_bio">я виросла у сім’ї музикантів.</span> Спочатку я стала учнем музичної школи ім. П.І.Чайковського, а потім  продовжила своє навчання у музичному училищі м. Ужгород.
                <br>
                <br>
                Вивчення мови музики я поєднувала з вивченням мови в Ужгородському Державному Університеті на філологічному факультеті. Під час навчання в університеті розпочала свою педагогічну кар'єру.
                <br><br>
                <span class="bold_text_bio">На моє переконання, музична освіта подібна на культурний компас, який допомагає у розвитку особистості людини</span>
                <br><br>
                Відкрити, захопити, надихнути – важливі характеристики педагога. <span class="bold_text_bio">Завдяки сорокарічному досвіду я переконалася, що хорошими музикантами можуть бути, як діти з вродженим талантом так і ті, що не мають музичних здібностей.</span> Жодна дитина, яка приходить на заняття, не залишається осторонь.
                <br><br>
                У роботі, я намагаюся використовувати <span class="bold_text_bio">теплий, підбадьорливий підхід з глибокою чутливістю до індивідуальних потреб, зберігаючи при цьому високий технічний та музичний рівень, допомагаючи студентам досягти майстерності на кожному рівні.</span>
            </p>
        </div>
        <div class="diploma">
            <div class="img_t">
                <img src="./img/photo1.png" alt="">
                <img src="./img/photo2.png" alt="">
            </div>
            <img src="./img/photo3.png" alt="">
            <img src="./img/photo4.png" alt="">
            <img src="./img/photo5.png" alt="">
        </div>
    </div>
</main>
<%- include ('footer.ejs') %>

</body>
</html>