<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleIcon.css">
    <link rel="stylesheet" href="./css/contact.css">
    <link rel="stylesheet" href="./css/contactAdaptive.css">

</head>
<body>
<%- include ('header.ejs') %>
<main>
    <h2 class="form">ЗАПОВНІСТЬ ФОРМУ, ЩОБ Стати музикантом!</h2>
    <div class="become_a_musician">
        <img class="img__form" src="./img/illustration.svg" alt="">
        <form action="">

            <div class="focus">
                <!-- <label class="animate_t ffocus" for= first_name">Ім’я</label> -->
                <input id="first_name" class="first_name" placeholder="Ім’я" name="first_name" type="text">
            </div>
            <div class="focus">

                <!-- <label class="animate_t ffocus" for="last_name">Прізвище</label> -->
                <input id="last_name" class="last_name" placeholder="Прізвище" name="last_name" type="text">

            </div>
            <div class="focus">

                <!-- <label class="animate_t ffocus" for="age">Вік</label> -->
                <input id="age" class="age" placeholder="Вік" name="age" type="number">

            </div>
            <div class="focus">
                <!-- <label class="animate_t ffocus" for="country">Країна</label> -->
                <input id="country" class="country" placeholder="Країна" type="text">

            </div>
            <div class="focus">
                <!-- <label class="animate_t ffocus" for="language">Мова спілкування</label> -->
                <input id="language" class="language" placeholder="Мова спілкування" type="text">

            </div>
           <div class="focus">
               <!-- <label class="animate_t ffocus" for="musical_exp">Музичний досвід</label> -->
               <input id="musical_exp" class="musical_exp" placeholder="Музичний досвід" type="text">

           </div>
            <div class="focus">
                <!-- <label class="animate_t ffocus" for="number__phone">Номер телефону</label> -->
                <input id="number__phone" class="number__phone" placeholder="Номер телефону" type="tel">

            </div>

            <div class="focus">
                <!-- <label class="animate_t ffocus" for="email">E-mail</label> -->
                <input id="email" class="email" placeholder="E-mail" type="email">
            </div>
            <div class="button__sub">
                <input class="button_form" type="submit" value="here is the text of the button">
            </div>
        </form>
    </div>
    <h2 class="question__first_lvl">Запитання із Сольфеджіо
        для визначення початкового рівня</h2>
    <div class="your_lvl">
        <div class="ask">
            <div>
                <label for="u_kn_notes">Чи знаєте ви нотну грамоту? (запис нот, тривалості)
                    Які тривалості та ритмічні групи вам відомі? </label>
                <textarea name="" id="u_kn_notes" cols="30" rows="10"></textarea>
            </div>


            <div>
                <label for="w_pause">
                    Що таке пауза? Назвіть їх.
                   </label>
                <textarea name="" id="w_pause" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div  class="ask">
            <div>
                <label for="sing">Чи можете записати і заспівати мажорну і мінорну гами
                    до 2-х знаків при ключі? </label>
                <textarea name="" id="sing" cols="30" rows="10"></textarea>

            </div>

            <div>
                <label for="oct">Чи знайомі ви з інтервалами від прими до октави?
                    Чи можете визначити їх на слух?</label>
                <textarea name="" id="oct" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div  class="ask">
            <div>
                <label for="acord">
                    Що таке акорд? Які акорди ви знаєте?</label>
                <textarea name="" id="acord" cols="30" rows="10"></textarea>
            </div>


            <div>
                <label for="rev_acord">Що таке обернення акорду та інтервалу? Назвіть приклади.</label>
                <textarea name="" id="rev_acord" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div  class="ask">
            <div>
                <label for="sing_m">Чи можете заспівати мелодію з листа із тактуванням? </label>
                <textarea name="" id="sing_m" cols="30" rows="10"></textarea>
            </div>


            <div>
                <label for="supp">Чи вмієте підібрати супровід до мелодії?</label>
                <textarea name="" id="supp" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div  class="ask">
            <div>
                <label for="write_m">Чи можете записати нотами з ритмічним малюнком
                    знайому мелодію? </label>
                <textarea name="" id="write_m" cols="30" rows="10"></textarea>
            </div>


            <div>
                <label for="write_m">
                    Які елементи музичної мови знаєте? </label>
                <textarea name="" id="write_m" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="be_musical">

        <a class="be_music" href="">Стати музикантом!</a>

    </div>
</main>
<%- include ('footer.ejs') %>
<script src="./js/focus.js"></script>
</body>
</html>