<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleIcon.css">
    <link rel="stylesheet" href="./css/feedbacks.css">
    <link rel="stylesheet" href="./css/feedbacksAdaptive.css">
</head>
<body>
<%- include ('header.ejs') %>
<main>
<div class="first__feedback__1">
    <div class="first__feedback">
        <img src="./img/musicalman.svg" alt=""  class="img__musical">
        <div class="feedbacks__header">
            <h1>Відгуки</h1>
            <p class="feedbacks">“в міру сувора та дуже добра людина, яка вміло робить свою справу та доносить до діток матеріал. Легко знаходить спільну мову та підхід то кожної дитини.”

                “ Її учні мають великі досягнення в сфері музики.”

                “Після кожного заняття відчувається прогрес, який згодом переростає у велику базу знань.”</p>
            <a class="show__more" href="">Показати більше</a>
        </div>
    </div>
</div>
    <div class="bk__feedback">
        <div class="second__feedback">
            <img src="./img/musicalgirl.svg" alt=""  class="img__musical girl">
            <div class="feedbacks__sec">
                <p class="feedbacks sec__p">“в міру сувора та дуже добра людина, яка вміло робить свою справу та доносить до діток матеріал. Легко знаходить спільну мову та підхід то кожної дитини.”

                    “ Її учні мають великі досягнення в сфері музики.”

                    “Після кожного заняття відчувається прогрес, який згодом переростає у велику базу знань.”</p>
                <a class="show__more sec" href="">Показати більше</a>
            </div>
        </div>
    </div>
<div class="video">
    <img src="./img/photo.png" class="img_video" alt="">
    <a href="" class="link_video ">
        Відео
    </a>
    <iframe class="ifrm_u" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Ex9F-nfg2wE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<script>
    document.querySelector('.video').addEventListener('click', (e)=>{
        e.preventDefault();
        if(e.target.closest('.video')){
            document.querySelector('.link_video').classList.add('hidden');
            document.querySelector('.img_video').classList.add('hidden');
        }
    })
</script>
<div class="be_musical">
 
    <a class="be_music" href="">Стати музикантом!</a>
 
</div>
</main>
<%- include ('footer.ejs') %>

</body>
</html>