<footer>
<script src="./js/focus.js"></script>
    <div class="logo__footer">
        <span class="icon-Vector-Smart-Object"></span>
    </div>
    <div class="contact__footer">
        <a class="mobil_number" href="tel:">+38 099 489 7747</a>
        <a href="https://facebook.com"><span class="icon-facebook2"></span></a>
    </div>
    <div class="langu_footer">
        <label for="f_select__language"></label>
        <select id="f_select__language">
            <option value="EN" selected>EN</option>
            <option value="RU" >RU</option>
            <option value="UA" >UA</option>
        </select>
    </div>
</footer>
