<header>
    <div id="header">
        <div class="logo">
            <a href="/">
                <span class="icon-Vector-Smart-Object"></span>
                <label class="logoImg" for="img__logo">EL SOLFEGGIO <span class="studio">STUDIO</span></label>
            </a>
        </div>
        <div class="end_block">
        <div class="contact">
            <a class="mobil_number" href="tel:">+38 099 489 7747</a>
            <div class="language">
                <a class="facebook" href="https://facebook.com"><span class="icon-facebook2"></span></a>
                <label for="h_select__language"></label>
                <select id="h_select__language">
                    <option value="EN" selected>EN</option>
                    <option value="RU" >RU</option>
                    <option value="UA" >UA</option>
                </select>
            </div>
        </div>
        </div>
        </div>

    <div class="navigation">
        <div class="menu_icon">
            <span></span>
        </div>
        <nav class="navigation_header">
            <a href="/biography">Біографія</a>
            <a href="/price">Ціни</a>
            <a href="/feedbacks">Відгуки</a>
            <a href="/contact">Контакти</a>
            <a href="/question">Запитання</a>
        </nav>
    </div>
</header>