<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleIcon.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/indexAdaptive.css">
   <!-- <script src="../../Node/node-exp/index.js"></script>-->
</head>
<body>
<%- include ('header.ejs') %>
<main>
    <div class="slaider">
        <a class="pre__slaide" href=""><span class="icon-arrow-_2"></span></a>
        <div class="bk_slide">
            <div class="slider_trek">
                <div class="slide_1">
                    <img src="./img/photo.png" alt="">
                    <div class="content_slide">
                        <div class="pos_title">
                            <h2 class="title_slid">Концерт</h2>
                            <p class="celebration">до дня святого Миколая</p>
                            <p class="info_concert">Тут повинна бути інформація про деталі концерту, учнів і т.д. Тут повинна бути інформація про деталі концерту, учнів і т.д. Тут повинна бути інформація про деталі концерту, учнів і т.д. </p>
                            <p class="date_and_time">
                                <span class="date">19/12</span>
                                <span class="hours">18:00</span>
                            </p>
                        </div>
    
                    </div>
                </div>
                <div class="slide_1">
                    <img src="./img/photo.png" alt="">
                    <div class="content_slide">
                        <div class="pos_title">
                            <h2 class="title_slid">Концерт</h2>
                            <p class="celebration">до дня святого Миколая</p>
                            <p class="info_concert">Тут повинна бути інформація про деталі концерту, учнів і т.д. Тут повинна бути інформація про деталі концерту, учнів і т.д. Тут повинна бути інформація про деталі концерту, учнів і т.д. </p>
                            <p class="date_and_time">
                                <span class="date">19/12</span>
                                <span class="hours">18:00</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slide_1">
                    <img src="./img/photo.png" alt="">
                    <div class="content_slide">
                        <div class="pos_title">
                            <h2 class="title_slid">Концерт</h2>
                            <p class="celebration">до дня святого Миколая</p>
                            <p class="info_concert">Тут повинна бути інформація про деталі концерту, учнів і т.д. Тут повинна бути інформація про деталі концерту, учнів і т.д. Тут повинна бути інформація про деталі концерту, учнів і т.д. </p>
                            <p class="date_and_time">
                                <span class="date">19/12</span>
                                <span class="hours">18:00</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="next__slide" href=""><span class="icon-arrow-_1"></span></a>
    </div>
    <div class="exp_img">
        <img src="./img/Group4.svg" alt="">
    </div>
    <h2 class="know_more">Дізнатись Більше</h2>
    <div class="more">
        <div>
            <h5 class="title__more icon-Vector-Smart-Object-_1">Індивідуальні
                заняття
            </h5>
            <p>Для учнів, які хочуть спробувати музичні заняття, але невпевнені у довготривалості свого зацікавлення. Розглядають заняття як спосіб проведення дозвілля та здобуття нових навичок.</p>
            <h6 class="costs_packeg">Вартість за пакет занять</h6>
            <ul>
                <li>
                    <span>Сольфеджіо - </span>
                    <span>$25.00</span>
                </li>
                <li>
                    <span>Музична Література - </span>
                    <span>$15.00</span>
                </li>
                <li>
                    <span>Загальне фортепіано - </span>
                    <span>$15.00</span>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="title__more icon-Vector-Smart-Object-_1">Пакет
                “Початківець”
            </h5>
            <p>Для учнів, які ніколи не займалися музикою і розглядають заняття як спосіб проведення дозвілля та здобуття нових навичок. </p>
            <h6 class="costs_packeg">Вартість за пакет занять</h6>
            <ul>
                <li>
                    <span>Вступний - </span>
                    <span>$840.00</span>
                </li>
                <li>
                    <span>Повний - </span>
                    <span>$1,680.00</span>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="title__more icon-Vector-Smart-Object-_1">Пакет
                “Музикант”
            </h5>
            <p>Для людей в яких є базові навички та розуміння музичної грамоти, однак які прагнуть їх вдосконалити. </p>
            <h6 class="costs_packeg">Вартість за пакет занять</h6>
            <ul>
                <li>
                    <span>Вступний - </span>
                    <span>$840.00</span>
                </li>
            </ul>
        </div>
    </div>
    <h3 class="packeg__for__me"><a href="">Підібрати пакет для себе</a></h3>
    <div class="sert">
        <div class="sert__cont">
            <h2 class="sertificate__and_diploma">СЕРТИФІКАТИ
                ТА ДИПЛОМИ</h2>
             <div class="diplom">
                 <img src="./img/photo1.png" alt="">
                 <img src="./img/photo2.png" alt="">
            </div> 
            <h4 class="feedback">Відгуки</h4>
            <div class="slider__feedback">
                <a href="" class="pre_slide_feed"><span class="icon-arrow-_2"></span></a>
                <div class="slider_container_b">
                    <div class="slider_track_b">
                        <div class="content_slide_feed slides">
                            <img src="./img/illustration_home.svg" alt="" class="feed_img">
                            <div class="text__content_slide_feed">
                                <p class="text_feed">“в міру сувора та дуже добра людина, яка вміло робить
                                    свою справу та доносить до діток матеріал. Легко
                                    знаходить спільну мову та підхід то кожної дитини.”
        
                                    “ Її учні мають великі досягнення в сфері музики.”
        
                                    “Після кожного заняття відчувається прогрес, який
                                    згодом переростає у велику базу знань.”</p>
                                <a href="" class="show_more">Показати більше</a>
                            </div>
                        </div>
                        <div class="content_slide_feed slides content_slide_feed_even">
                            <img src="./img/musicalgirl.svg" width="100px" alt="" class="feed_img feed_img_girl">
                            <div class="text__content_slide_feed">
                                <p class="text_feed">“в міру сувора та дуже добра людина, яка вміло робить
                                    свою справу та доносить до діток матеріал. Легко
                                    знаходить спільну мову та підхід то кожної дитини.”
        
                                    “ Її учні мають великі досягнення в сфері музики.”
        
                                    “Після кожного заняття відчувається прогрес, який
                                    згодом переростає у велику базу знань.”</p>
                                <a href="" class="show_more">Показати більше</a>
                            </div>
                        </div>

                    </div>
                </div>
                <a href="" class="next_slide_feed"><span class="icon-arrow-_1"></span></a>
            </div>  
        </div>
    </div>
    <div class="be_musical">
        <a class="be_music" href="">Стати
            музикантом!</a>
    </div>
</main>
<script src="./js/slidertop.js"></script>
<script src="./js/sliderBottom.js"></script>

<%- include ('footer.ejs') %>
</body>
</html>