<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleIcon.css">
    <link rel="stylesheet" href="./css/price.css">
    <link rel="stylesheet" href="./css/priceAdaptive.css">
</head>
<body>
<%- include ('header.ejs') %>
<main>
    <div class="courses">
        <div class="n_pck">
            <h3 class="package">Індивідуальні заняття</h3>
            <h4 class="name_level">Одне заняття</h4>
            <ul class="subjects">
                <li>Сольфеджіо<span class="price">$25.00</span></li>
                <li>Музична література<span class="price">$15.00</span></li>
                <li>Загальне фортепіано<span class="price">$15.00</span></li>
            </ul>
            <a href="" class="buy__form">Заповнити форму</a>
        </div>
        <div class="n_pck">
            <h3 class="package">Пакет "Початківець"</h3>
            <div>
                <h4 class="name_level">Початковий Курс</h4>
                <ul class="subjects">
                    <li>Сольфеджіо <span class="count__lection">15 занять</span> <span class="price">$375.00</span></li>
                    <li>Муз. Література <span class="count__lection">15 занять</span> <span class="price">$225.00</span></li>
                    <li>Фортепіано <span class="count__lection">16 занять</span> <span class="price">$240.00</span></li>
                </ul>
                <div class="total_cost">Загальна вартість пакету -<span>$840.00</span></div>
            </div>
            <div>
                <h4 class="name_level">Повний Курс</h4>
                <ul class="subjects">
                    <li>Сольфеджіо <span class="count__lection">30 занять</span> <span class="price">$750.00</span></li>
                    <li>Муз. Література <span class="count__lection">30 занять</span> <span class="price">$450.00</span></li>
                    <li>Фортепіано <span class="count__lection">32 занять</span> <span class="price">$480.00</span></li>
                </ul>
                <div class="total_cost">Загальна вартість пакету -<span>1,680.00</span></div>
            </div>
            <a href="" class="buy__form">Заповнити форму</a>
        </div>
        <div class="n_pck">
            <h3 class="package">Пакет "Музикант"</h3>
            <h4 class="name_level">Повний Курс</h4>
            <ul class="subjects">
                <li>Сольфеджіо <span class="count__lection">15 занять</span><span class="price">$375.00</span></li>
                <li>Муз. Література <span class="count__lection">15 занять</span><span class="price">$225.00</span></li>
                <li>Фортепіано <span class="count__lection">16 занять</span><span class="price">$240.00</span></li>
            </ul>
            <div class="total_cost">Загальна вартість пакету -<span>840.00</span></div>
            <a href="" class="buy__form">Заповнити форму</a>
        </div>
    </div>
    <div class="bknotes">
        <div class="solfegio">
            <h2>Сольфеджіо</h2>
            <div class="content_list">
                <div>
                    <h5 class="course__length">Вступний курс</h5>
                    <ul>
                        <li class="">Назви звуків, нотний стан. Навички нотного письма.</li>
                        <li class="">Ритмічні тривалості  та ритмічні групи , паузи.</li>
                        <li class="">Розміри 2/4 ¾ 4/4 ⅜ 6/8 Простукування ритмічного малюнку.</li>
                        <li class="">Звукоряд, лад, мажорні та мінорні гами до 4-х знаків</li>
                        <li class="">Сольфеджування та спів з листа: спів гами, простих мелодій з листа, з текстом, із супроводом та без нього.</li>
                        <li class="">Визначення на слух інтервалів та акордів в тональності та від звуку. Послідовність інтервалів. Спів та гра на фортепіано.</li>
                        <li class="">Інтервали від прими до октави, інтервали тритони. Спів, побудова в тональностях. Гра на інструменті.</li>
                        <li class="">Акорди: тонічний тризвук, та його обернення. Головні тризвуки (S, D) з розв’язком та оберненням, D7 - з розв’язком в основному виді.</li>
                        <li class="">Музичний диктант: мелодичний і ритмічний (8 тактів). </li>
                        <li class="">Творчі навички: запис нотами знайомих мелодій. Підбір супроводу, підбір 2-го голосу до мелодії, підбір басового голосу (I, IV, V  ступені, як основи функціонального забарвлення). Спів мелодії з власним супроводом.</li>
                        <li class="">Слухання музики: визначення характеру, ладу, пройдених елементів музичної мови.</li>
                    </ul>
                </div>
                <div class="last_list_div">
                    <h5 class="course__length">Повний курс</h5>
                    <ul>
                        <li class="">Письмовий та усний музичний диктант. Запис знайомих мелодій з пам'яті (включаючи складні мелодичні звороти та ритмічні групи у всіх пройдених розмірах)</li>
                        <li class="">Імпровізація та створення мелодій (натуральна гармонія мелодичного виду). Запам'ятовування та запис створених мелодій. Підбір супроводу у різній фактурі.</li>
                        <li class="">Спів трьох видів мінору (Н. Г. М.) і двох видів мажору (Н. Г.).  Характерні інтервали, пентатоніка. Зміни розмірів. Тональності мажорні і мінорні до 7 знаків. Ритмічні групи . Споріднені тональності, модуляція, відхилення. Хроматична гамма, змішаний розмір. </li>
                        <li class="">Спів, гра та визначення на слух усіх діатонічних інтервалів, тритонів і характерних із розв'язком. </li>
                        <li class="">Спів, гра та визначення на слух усіх пройдених раніше акордів. Спів Д7 з оберненнями та розв'язком, ввідних септакордів та їх розв'язком. S II 7, Д7 з розв'язками у VI 5/3 . Визначення на слух та за запис послідовності інтервалів та акордів в тональності. </li>
                        <li class="">Побудова від звука акордів та інтервалів у повному обсязі. Акорди та характерні інтервали, тритони з ров’язком та визначенням тональності.</li>
                        <li class="">Визначення пройдених елементів музичної мови у прослуханих творах, у нотному тексті. </li>
                        <li class="">Перевірка знання основних музичних термінів.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bk__musliter">
        <div class="music_lit">
            <div class="fist_ul">
                <h2>Музична 
                    Література</h2>
                <ul class="ul_lit">
                    <li class="">Світова муз. Література <br>
                        (включає Українську та Європейську)</li>
                    <li class="">Українська муз. Література</li>
                    <li class="">Американська муз. Література</li>
                </ul>
            </div>
            <div class="programs">

                 <ul class="ullimus">
                     <h5>Програми.</h5>
                     <h6>Вступний курс</h6>
                    <li>Роль музики в нашому житті </li>
                    <li>Музика як вид мистецтва</li>
                    <li>Що може зобразити музика? Зміст музичних творів.</li>
                    <li>Елементи музичної мови. Способи розвитку музичної теми.</li>
                    <li>Музичний образ. Будова музичного твору.</li>
                    <li>Склад виконання музики.</li>
                    <li>Музичні інструменти симфонічного оркестру.</li>
                    <li>Український музичний фольклор.</li>
                    <li>Музичні форми та жанри.</li>
                    <li>Огляд основних етапів розвитку світової музичної літератури. (Від стародавнього світу до сьогодення)</li>
                    <li>Західноєвропейська музика епохи класицизму XVIII ст. (Й. Гайдн, В.А. Моцарт, Л. ван Бетховен)</li>
                    <li>Укр музика епохи класицизму (М. Березовський, Д. Бортнянський, А. Ведель)</li>
                    <li>Муз культура XIX ст. Романтизм. (Ф. Шуберт, Ф. Шопен, Дж. Росіні, Н. Паганіні, Р. Шуман, Ф. Мендельсон, Ф. Ліст, Е. Гріг)</li>
                    <li>Російська музика XIX ст. (М. Глінка, О. Бородін. М. Римський-Корсоков, П.І. Чайковський, М. Мусоргський)</li>
                    <li>Українська музика XIX ст. (П. Ніщинський, М. Вербицький, С. Гулак-Артемовський, М. Колочевський, М. Лисенко, К. Стеценко, М. Леонтович)</li>
                    <li>Музика XX ст. Імпресіонізм. (К. Дебюсі, М. Равель); Авангардизм (І. Стравінські)</li>
                    <li>Українська музика XX ст. (Б. Лятошинський, М. Скорик, Є. Станкович) (те саме що і в повному, тільки скорочено)</li>
                     <div class="full_course">
                         <h6>Повний курс</h6>
                         <ul>
                             <li>Поглиблене вивчення тематик описаних у вступному курсі</li>
                         </ul>
                     </div>
                 </ul>
            </div>

        </div>
    </div>
   <div class="bkfortepiano">
       <div class="fortepiano">
           <h1>Загальне
               Фортепіано</h1>
           <div class="for_c">
               <h6>Початковий курс</h6>
               <ul class="forte_list">
                   <li class="forte_list_li">Ознайомлення з грою на фортепіано. Посадка та постановка руки. Вправи для видобування звуку. Формування аплікатурних навичок. Правила використання педалі. </li>
                   <li class="forte_list_li">Основи музичної грамоти: вивчення запису нот у скрипічному і басовому ключах, тривалість звуків та пауз, метр, ракт, розмір. Уявлення про муз. тональність, інтервали; усвідомлення знак пісні, маршу, танцю.</li>
                   <li class="forte_list_li">Гра гам, акордів, арпеджіо окремими та двома руками; виконання етюдів, різнохарактерних п'єс, ансамблів, вправ для розвитку техніки. Поліфонічні п'єси та твори великої форми.</li>
                   <li class="forte_list_li">Навички читання з нот.</li>
                   <li class="forte_list_li">Музичні терміни та динамічна шкала. Робота з фактурою, музичною формою. Ознайомлення з муз. жанрами, цифровим записом гармонії. Розуміння співвідношення сили звуку в мелодії та акомпанементі.</li>
                   <div class="full_course_fortepiano">
                       <h6>Повний курс</h6>
                       <ul>
                           <li>Поглиблене вивчення тематик описаних у вступному курсі</li>
                       </ul>
                   </div>
               </ul>
           </div>

       </div>
   </div>
    <div class="be_musical">
        <a class="be_music" href="">Стати
            музикантом!</a>
    </div>
</main>
<%- include ('footer.ejs') %>

</body>
</html>