<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleIcon.css">
    <link rel="stylesheet" href="./css/question.css">
    <link rel="stylesheet" href="./css/questionAdaptive.css">
    <!-- <script src="../../Node/node-exp/index.js"></script>-->
</head>
<body>
<%- include ('header.ejs') %>
<main>
    <h1 class="question_title">Запитання</h1>
    <div class="container">
        <ul class="info__block">
            <li>
                <p class="question">Повний курс включає 
                    початковий? Чи повний можна
                     брати після початкового?</p>
                <p class="answer"><span>Сольфеджіо</span> - повний курс включає початковий + додатковий матеріал призначений для повного курсу. 
                    <span>Муз. Література</span> - повний курс включає початковий. 
                    <span>Загальне фортепіано</span> - повний курс включає початковий. </p>
            </li>
            <li>
                <p class="question">Ціна заняття для різних рівнів
                     відрізняється чи ні?</p>
                <p class="answer"><span>Ціна за заняття не залежить від рівня знань, але пакет буде залежати від рівня знань.</span> Пакети в основному пропонуються після співбесіди з учнем.</p>
            </li>
            <li>
                <p class="question">З яких елементів складається
                     навчальний процес?</p>
                <p class="answer">Учень <span>подає заявку</span> на сайті та заповнює форму 
                    Назначається <span>співбесіда</span> з учнем для визначення наявного рівня 
                    музичних знань 
                    Учень може <span>обрати бажаний рівень знань</span> якого бажає досягти 
                    внаслідок занять 
                    Учень <span>обирає бажаний пакет занять або кількість 
                    індивідуальних занять</span> (покупка пакету завжди виходить дешевше!) 
                    По закінченні занять, учень <span>отримує сертифікат</span> про вивчення 
                    відповідного навчального матеріалу. 
                    Учень <span>може продовжити</span> навчання обравши наступний пакет занять 
                    або домовитись про подальші індивідуальні заняття. </p>
            </li>
            <li>
                <p class="question">Які вимоги до учнів?</p>
                <p class="answer"><span>Володіння українською або російською мовою 
                    Наявність клавішного музичного інструменту</span> (фортепіано) вдома 
                    Для сольфеджіо: <span>нотний зошит, ручку, олівець і резинку брати на 
                    кожне заняття</span>
                    Для музичної літератури: <span>звичайний зошит, ручку брати на кожне 
                    заняття</span> 
                    Учень <span>ознайомиться з грою на фортепіано,</span> на базовому рівні </p>
            </li>
            <li>
                <p class="question">Які існують рівні музичної
                     підготовки учня?</p>
                <p class="answer"><span>ніколи не займався музикою 
                    займався музикою раніше</span></p>
            </li>
            <li>
                <p class="question">Як проходять заняття?</p>
                <p class="answer">Всі заняття <span>індивідуальні</span> та відбуваються <span>в онлайн режимі</span></p>
            </li>
            <li>
                <p class="question">Яка тривалість занять?</p>
                <p class="answer">Сольфеджіо - <span>70 хв.</span> 
                    Музична література <span>45 хв.</span>
                    Загальне фортепіано <span>45 хв.</span></p>
            </li>
            <li>
                <p class="question">Чи є пробне заняття?</p>
                <p class="answer">Так. <span>Ввідне заняття та консультація - безкоштовна.</span> 
                    Перше заняття входить у вартість пакету. Якщо учень вирішив не 
                    продовжувати заняття, то вартість решти оплачених занять 
                    повертається учневі.</p>
            </li>
            <li>
                <p class="question">Як здійснюється оплата за
                     навчання?</p>
                <p class="answer"><span>Оплата пакету здійснюється наперед.</span> 
                    Оплата окремих занять, здійснюється відразу після кожного заняття, або 
                    щомісяця (ця опція доступна після 10-го заняття з учнем).</p>
            </li>
        </ul>
    </div>
    <div class="be_musical">

        <a class="be_music" href="">Стати музикантом!</a>

    </div>
</main>
<%- include ('footer.ejs') %>
</body>
</html>